body{
    background-color:gray;
    font-size: 0;
    box-sizing: border-box;
    color:white;
    height:100vh;
    text-align:center;
    font-family: sans-serif;
}

h1{
    font-size:40px;
}

h2{
    font-size: 15px;
}

.calculator-container{
    min-width: 200px;
    width:350px;
    max-width: 350px;
    min-height:350px;
    height: 550px;
    max-height: 550px;
    background-color:cadetblue;
    position:relative;
    margin: auto;
    vertical-align:top;
}

.display, .memory-button, .operator, .number-button{
    box-sizing:border-box;
    border:1px grey solid;
    font-size: 2rem;
}

.display{
    width: 100%;
    height: 20%;
    margin: 0 auto;
    background-color:lightgray;
    text-align:right;
}

.input-display{
    padding: 3.5vh 2vh;
    color: black;
    font-size: 3rem;
}

.memory-and-numpad-container{
    width:75%;
    height:80%;
    margin:0;
    display:inline-block;
}

.operators-container{
    width:25%;
    height:80%;
    display:inline-block;
    margin:0;
    background-color:darkslateblue;
    vertical-align:top;
}

.memory-buttons-container{
    width:100%;
    height: 25%;
    display:inline-block;
    margin:0;
    background-color:slateblue;
}

.memory-button{
    width: 50%;
    height: 100%;
    display:inline-block;
    padding-top: 3.5vh;
}

.operator{
    width:100%;
    height:15%;
    padding-top: 1vh;
}

.operator:nth-child(4){
    padding-top: 10vh;
}
.operator.add{
    height:55%;
}

.numpad{
    width: 100%;
    height:75%;
    background-color: midnightblue;
    display:inline-block;
    margin:0;
}

.number-button {
    width:33.33%;
    height:25%;
    display:inline-block;
    padding-top: 2vh;
}

